@inject SignInManager<ApplicationUser> signinmanager ;
@inject UserManager<ApplicationUser> userManager ;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_mvcproject_.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
  
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Home/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home//iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Home/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Home/css/main.css">
    <!--===============================================================================================-->
    <style>
    
    .profile-head {
    transform: translateY(5rem)
}

.cover{
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

.bodyprofile {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x: hidden
}
    </style>

</head>
<body class="" style="background-color:gray;">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                    </div>

                    <div class="right-top-bar flex-w h-full">


                               @if (signinmanager.IsSignedIn(User))
                        {

                           
                                  <a asp-action="logout" asp-controller="account" class="flex-c-m trans-04 p-lr-25">
                            Hello @User.Identity.Name
                        </a>
                                <a asp-action="logout" asp-controller="account" class="flex-c-m trans-04 p-lr-25">
                            Logout
                        </a>

                        }


                            @if (!signinmanager.IsSignedIn(User))
                        {

                            <a asp-area="" asp-controller="provideraccount" asp-action="login" class="flex-c-m trans-04 p-lr-25">
                                Login Provider
                            </a>

                            <a asp-area="" asp-controller="account" asp-action="login" class="flex-c-m trans-04 p-lr-25">
                                Login Client
                            </a>
                        }


                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop" style="background-color:whitesmoke;">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="#" class="logo">
@*                        <img src="~/Home/images/icons/logo-01.png" alt="IMG-LOGO">
    Khadamatak
*@                  
<h3>KHADAMATAK</h3>
</a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop" >
                        <ul class="main-menu">
                                 <li class="active-menu">
                                <a href="/">Home</a>
                            </li>
                            @if (signinmanager.IsSignedIn(User))
                            {   var id=(await userManager.FindByEmailAsync(User.Identity.Name)).Id;
                                var dis = (await userManager.FindByEmailAsync(User.Identity.Name)).discriminator;
                                if(dis==0)

                                       { <li><a asp-action="details" asp-controller="client" asp-route-id ="@id">My Profile</a></li>
                                       }
                                if(dis==1)
                                { <li><a asp-action="profile" asp-controller="provider" asp-route-id ="@id">My Profile</a></li>
                                }
                                if (dis == 2)
                                {
                                    <li><a asp-action="index" asp-controller="admin" asp-route-id ="@id">My Profile</a></li>
                                }
                            }
                        </ul>
                    </div>


                </nav>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="index.html"><img src="~/Home/images/icons/logo-01.png" alt="IMG-LOGO"></a>
            </div>


            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                    </div>
                </li>

                <li>
                    <div class="right-top-bar flex-w h-full">
    <a asp-area="" asp-controller="provideraccount" asp-action="login" class="flex-c-m trans-04 p-lr-25">
                            Login Provider
                        </a>

                        <a asp-area="" asp-controller="account" asp-action="login" class="flex-c-m trans-04 p-lr-25">
                            Login Client
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="index.html">Home</a>
                    <ul class="sub-menu-m">
                        <li><a href="~/Home/main/index.html">Homepage 1</a></li>
                        <li><a href="~/Home/main/home-02.html">Homepage 2</a></li>
                        <li><a href="~/Home/main/home-03.html">Homepage 3</a></li>
                    </ul>
                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>

                <li>
                    <a href="product.html">Shop</a>
                </li>

                <li>
                    <a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
                </li>

                <li>
                    <a href="blog.html">Blog</a>
                </li>

                <li>
                    <a href="about.html">About</a>
                </li>

                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>


    </header>




@*
    <!-- Slider -->
    <section class="section-slide">
        <div class="wrap-slick1">
            <div class="slick1">



                <div class="item-slick1" style="background-image: url(Home/images/3.jpg);">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                                <span class="ltext-101 cl2 respon2">
                                    Men Collection 2018
                                </span>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                    New arrivals
                                </h2>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                                <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@


    @*	<!-- Banner -->
        <div class="sec-banner bg0 p-t-80 p-b-50">
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
        <img src="~/Home/images/banner-01.jpg" alt="IMG-BANNER">

        <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
        <div class="block1-txt-child1 flex-col-l">
        <span class="block1-name ltext-102 trans-04 p-b-8">
        Women
        </span>

        <span class="block1-info stext-102 trans-04">
        Spring 2018
        </span>
        </div>

        <div class="block1-txt-child2 p-b-4 trans-05">
        <div class="block1-link stext-101 cl0 trans-09">
        Shop Now
        </div>
        </div>
        </a>
        </div>
        </div>

        <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
        <img src="~/Home/images/banner-02.jpg" alt="IMG-BANNER">

        <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
        <div class="block1-txt-child1 flex-col-l">
        <span class="block1-name ltext-102 trans-04 p-b-8">
        Men
        </span>

        <span class="block1-info stext-102 trans-04">
        Spring 2018
        </span>
        </div>

        <div class="block1-txt-child2 p-b-4 trans-05">
        <div class="block1-link stext-101 cl0 trans-09">
        Shop Now
        </div>
        </div>
        </a>
        </div>
        </div>

        <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
        <img src="~/Home/images/banner-03.jpg" alt="IMG-BANNER">

        <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
        <div class="block1-txt-child1 flex-col-l">
        <span class="block1-name ltext-102 trans-04 p-b-8">
        Accessories
        </span>

        <span class="block1-info stext-102 trans-04">
        New Trend
        </span>
        </div>

        <div class="block1-txt-child2 p-b-4 trans-05">
        <div class="block1-link stext-101 cl0 trans-09">
        Shop Now
        </div>
        </div>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div>*@


    <!-- Product -->


    <section class="bg0 p-t-23 p-b-140">
        <div class="container">
            <div class="p-b-10">
                <h3 class="ltext-103 cl5 text-center">
                    Services
                </h3>
            </div>


        </div>

        @RenderBody();
    </section>


    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                   <div class="col-sm-6 col-lg-1 p-b-50">
                 
            
                </div>
                <div class="col-sm-6 col-lg-2 p-b-50">
                 
                    <img width="100px" height="100px" src="~/images/Team1.jpg" style="border-radius: 50%;"/>
                  <div style="color:white; margin:7px 0 0 0;">Nourhan Mahmoud</div>
                </div>

                  <div class="col-sm-6 col-lg-2 p-b-50">
                 
                    <img width="100px" height="100px" src="~/images/Team3.jpeg" style="border-radius: 50%;"/>
                  <div style="color:white; margin:7px 0 0 0;">Mariam Salah</div>
                </div>

                  <div class="col-sm-6 col-lg-2 p-b-50">
                 
                    <img width="100px" height="100px" src="~/images/Team3.jpg" style="border-radius: 50%;"/>
                  <div style="color:white; margin:7px 0 0 7px;">David Nageh</div>
                </div>

                  <div class="col-sm-6 col-lg-2 p-b-50">
                 
                    <img width="100px" height="100px" src="~/images/Team4.jpeg" style="border-radius: 50%;"/>
                  <div style="color:white; margin:7px 0 0 0;">Amani Hamdy</div>
                </div>

                     <div class="col-sm-6 col-lg-2 p-b-50">
                    <img width="100px" height="100px" src="~/images/Team5.jpg" style="border-radius: 50%;"/>
                  <div style="color:white; margin:7px 0 0 7px;">Safaa Nowier</div>
                </div>

            </div>

        
        </div>
    </footer>

    <!--===============================================================================================-->
    <script src="~/Home/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Home/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Home/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/slick/slick.min.js"></script>
    <script src="~/Home/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function() { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled:true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
        $('.js-addwish-b2').on('click', function(e){
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function(){
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function(){
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function(){
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function(){
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function(){
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function(){
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <!--===============================================================================================-->
    <script src="~/Home/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function(){
            $(this).css('position','relative');
            $(this).css('overflow','hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function(){
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Home/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>